$lightest-gray: #f0f0f0;
$light-gray: #d3d3d3;
$medium-gray: #bbbbbb;
$dark-gray: #a8a8a8;
$darkest-gray: #757575;

$secondary-footer-gray: #E8E8E8;

$uic-yellow: #fff000;
$uic-yellow-hover: #f4e600;
