.button.no-margin {
	margin: 0px;
}

#sticky-cta {
	h3 {
		display: inline-block;
		margin-bottom: 0px;
		line-height: 1em;
		margin-right: 1em;
		letter-spacing: 1px;
	}
}

.pop-title {
	position: absolute;
	z-index: 5;
	
	color: #333;
	margin: -1.5em auto;
	width: 100%;
	text-align: center;
	h3 {
		display: inline-block;
		background: $yellow;
		padding: 3px 10px;
	}
}

.block-background {
	display: inline-block;
	padding: 8px 10px;
	line-height: 1em;
	text-transform: uppercase;
	clear: both;
}